aniso8601==3.0.2
asn1crypto==0.24.0
atomicwrites==1.1.5
attrs==18.1.0
blueprint==3.4.2
Blueprints==2.3.0.2
cffi==1.11.5
click==6.7
coverage==4.5.1
cryptography==2.3
Flask==1.0.2
Flask-RESTful==0.3.6
idna==2.7
itsdangerous==0.24
Jinja2==2.10
MarkupSafe==1.0
more-itertools==4.3.0
passlib==1.7.1
pathlib2==2.3.2
pluggy==0.7.1
psycopg2-binary==2.7.5
py==1.5.4
pycparser==2.18
PyJWT==1.6.4
pytest==3.7.1
pytest-cov==2.5.1
pytz==2018.5
scandir==1.9.0

pytz==2018.5
six==1.11.0
typing==3.5.3.0
Werkzeug==0.14.1
